/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$icon_brickwall_name = 'icon_brickwall';
$icon_brickwall_x = 0px;
$icon_brickwall_y = 100px;
$icon_brickwall_offset_x = 0px;
$icon_brickwall_offset_y = -100px;
$icon_brickwall_width = 40px;
$icon_brickwall_height = 32px;
$icon_brickwall_total_width = 213px;
$icon_brickwall_total_height = 184px;
$icon_brickwall_image = 'sprite.png';
$icon_brickwall = 0px 100px 0px -100px 40px 32px 213px 184px 'sprite.png' 'icon_brickwall';
$icon_house_2_name = 'icon_house-2';
$icon_house_2_x = 50px;
$icon_house_2_y = 50px;
$icon_house_2_offset_x = -50px;
$icon_house_2_offset_y = -50px;
$icon_house_2_width = 40px;
$icon_house_2_height = 40px;
$icon_house_2_total_width = 213px;
$icon_house_2_total_height = 184px;
$icon_house_2_image = 'sprite.png';
$icon_house_2 = 50px 50px -50px -50px 40px 40px 213px 184px 'sprite.png' 'icon_house-2';
$icon_key_name = 'icon_key';
$icon_key_x = 0px;
$icon_key_y = 0px;
$icon_key_offset_x = 0px;
$icon_key_offset_y = 0px;
$icon_key_width = 40px;
$icon_key_height = 40px;
$icon_key_total_width = 213px;
$icon_key_total_height = 184px;
$icon_key_image = 'sprite.png';
$icon_key = 0px 0px 0px 0px 40px 40px 213px 184px 'sprite.png' 'icon_key';
$icon_map_name = 'icon_map';
$icon_map_x = 50px;
$icon_map_y = 0px;
$icon_map_offset_x = -50px;
$icon_map_offset_y = 0px;
$icon_map_width = 40px;
$icon_map_height = 40px;
$icon_map_total_width = 213px;
$icon_map_total_height = 184px;
$icon_map_image = 'sprite.png';
$icon_map = 50px 0px -50px 0px 40px 40px 213px 184px 'sprite.png' 'icon_map';
$icon_paint_roller_2_name = 'icon_paint-roller-2';
$icon_paint_roller_2_x = 0px;
$icon_paint_roller_2_y = 50px;
$icon_paint_roller_2_offset_x = 0px;
$icon_paint_roller_2_offset_y = -50px;
$icon_paint_roller_2_width = 40px;
$icon_paint_roller_2_height = 40px;
$icon_paint_roller_2_total_width = 213px;
$icon_paint_roller_2_total_height = 184px;
$icon_paint_roller_2_image = 'sprite.png';
$icon_paint_roller_2 = 0px 50px 0px -50px 40px 40px 213px 184px 'sprite.png' 'icon_paint-roller-2';
$icon_phone_name = 'icon_phone';
$icon_phone_x = 183px;
$icon_phone_y = 104px;
$icon_phone_offset_x = -183px;
$icon_phone_offset_y = -104px;
$icon_phone_width = 20px;
$icon_phone_height = 22px;
$icon_phone_total_width = 213px;
$icon_phone_total_height = 184px;
$icon_phone_image = 'sprite.png';
$icon_phone = 183px 104px -183px -104px 20px 22px 213px 184px 'sprite.png' 'icon_phone';
$icon_tree_name = 'icon_tree';
$icon_tree_x = 100px;
$icon_tree_y = 0px;
$icon_tree_offset_x = -100px;
$icon_tree_offset_y = 0px;
$icon_tree_width = 33px;
$icon_tree_height = 44px;
$icon_tree_total_width = 213px;
$icon_tree_total_height = 184px;
$icon_tree_image = 'sprite.png';
$icon_tree = 100px 0px -100px 0px 33px 44px 213px 184px 'sprite.png' 'icon_tree';
$icon_yandex_banks_name = 'icon_yandex_banks';
$icon_yandex_banks_x = 143px;
$icon_yandex_banks_y = 0px;
$icon_yandex_banks_offset_x = -143px;
$icon_yandex_banks_offset_y = 0px;
$icon_yandex_banks_width = 30px;
$icon_yandex_banks_height = 42px;
$icon_yandex_banks_total_width = 213px;
$icon_yandex_banks_total_height = 184px;
$icon_yandex_banks_image = 'sprite.png';
$icon_yandex_banks = 143px 0px -143px 0px 30px 42px 213px 184px 'sprite.png' 'icon_yandex_banks';
$icon_yandex_childrens_name = 'icon_yandex_childrens';
$icon_yandex_childrens_x = 143px;
$icon_yandex_childrens_y = 52px;
$icon_yandex_childrens_offset_x = -143px;
$icon_yandex_childrens_offset_y = -52px;
$icon_yandex_childrens_width = 30px;
$icon_yandex_childrens_height = 42px;
$icon_yandex_childrens_total_width = 213px;
$icon_yandex_childrens_total_height = 184px;
$icon_yandex_childrens_image = 'sprite.png';
$icon_yandex_childrens = 143px 52px -143px -52px 30px 42px 213px 184px 'sprite.png' 'icon_yandex_childrens';
$icon_yandex_fitnes_name = 'icon_yandex_fitnes';
$icon_yandex_fitnes_x = 183px;
$icon_yandex_fitnes_y = 0px;
$icon_yandex_fitnes_offset_x = -183px;
$icon_yandex_fitnes_offset_y = 0px;
$icon_yandex_fitnes_width = 30px;
$icon_yandex_fitnes_height = 42px;
$icon_yandex_fitnes_total_width = 213px;
$icon_yandex_fitnes_total_height = 184px;
$icon_yandex_fitnes_image = 'sprite.png';
$icon_yandex_fitnes = 183px 0px -183px 0px 30px 42px 213px 184px 'sprite.png' 'icon_yandex_fitnes';
$icon_yandex_hospitals_name = 'icon_yandex_hospitals';
$icon_yandex_hospitals_x = 183px;
$icon_yandex_hospitals_y = 52px;
$icon_yandex_hospitals_offset_x = -183px;
$icon_yandex_hospitals_offset_y = -52px;
$icon_yandex_hospitals_width = 30px;
$icon_yandex_hospitals_height = 42px;
$icon_yandex_hospitals_total_width = 213px;
$icon_yandex_hospitals_total_height = 184px;
$icon_yandex_hospitals_image = 'sprite.png';
$icon_yandex_hospitals = 183px 52px -183px -52px 30px 42px 213px 184px 'sprite.png' 'icon_yandex_hospitals';
$icon_yandex_scholls_name = 'icon_yandex_scholls';
$icon_yandex_scholls_x = 0px;
$icon_yandex_scholls_y = 142px;
$icon_yandex_scholls_offset_x = 0px;
$icon_yandex_scholls_offset_y = -142px;
$icon_yandex_scholls_width = 30px;
$icon_yandex_scholls_height = 42px;
$icon_yandex_scholls_total_width = 213px;
$icon_yandex_scholls_total_height = 184px;
$icon_yandex_scholls_image = 'sprite.png';
$icon_yandex_scholls = 0px 142px 0px -142px 30px 42px 213px 184px 'sprite.png' 'icon_yandex_scholls';
$icon_yandex_shops_name = 'icon_yandex_shops';
$icon_yandex_shops_x = 40px;
$icon_yandex_shops_y = 142px;
$icon_yandex_shops_offset_x = -40px;
$icon_yandex_shops_offset_y = -142px;
$icon_yandex_shops_width = 30px;
$icon_yandex_shops_height = 42px;
$icon_yandex_shops_total_width = 213px;
$icon_yandex_shops_total_height = 184px;
$icon_yandex_shops_image = 'sprite.png';
$icon_yandex_shops = 40px 142px -40px -142px 30px 42px 213px 184px 'sprite.png' 'icon_yandex_shops';
$spritesheet_width = 213px;
$spritesheet_height = 184px;
$spritesheet_image = 'sprite.png';
$spritesheet_sprites = $icon_brickwall $icon_house_2 $icon_key $icon_map $icon_paint_roller_2 $icon_phone $icon_tree $icon_yandex_banks $icon_yandex_childrens $icon_yandex_fitnes $icon_yandex_hospitals $icon_yandex_scholls $icon_yandex_shops;
$spritesheet = 213px 184px 'sprite.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url('../images/' + $sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
